# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environment
.venv/
venv/

# Docker artefacts
Dockerfile
.dockerignore

# Secrets / env files
.env

# SQLite (solo para pruebas locales)
*.db

# Vercel build artefacts
.vercel/
vercel-build/
